

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <% @books.each do |book| %>
      <table class="table table-hover table-inverse">
        <%= link_to book_path(book.id) do %>
        <% end %>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td>
              <p><%= book.title %></p>
            </td>
            <td>
              <p><%=book.body %></p>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>